<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../../partials/head') %> 

        <title>OCoffee - Modifier un café</title>

        <!-- Style -->
        <link rel="stylesheet" href="/css/newCoffee.css">
    </head>

    <body>
        <div id="container">

            <header class="header">
                <%- include('../../partials/header') %>
            </header>
            
            <main class="main">
                <%= oneCoffee.name %>
                                
                <section class="newCoffee">
                    <h2>Modifier un café</h2>

                    <form  class="coffee-form" method = "POST" action="/updateCoffee" enctype="multipart/form-data">
                        
                        <!-- Id -->
                        <div class="form-group" id = "div_idCoffee">
                            <label for="name"> Id(*) :</label>
                            <input type="text" id = "id" name = "id" placeholder = "id" required value ="<%= oneCoffee.id %>">
                        </div>

                        <!-- name -->
                        <div class="form-group">
                            <label for="name"> Nom(*) :</label>
                            <input type="text" id = "name" name = "name" placeholder = "Espresso dd" required value ="<%= oneCoffee.name %>">
                        </div>

                        <!-- reference -->
                        <div class="form-group">
                            <label for="reference">Reference(*) :</label>
                            <input type="text" id = "reference" name = "reference" placeholder = "100955890" minlength="9"
                            maxlength="9" required value ="<%= oneCoffee.reference %>">
                        </div>

                        <!-- country_id -->
                        <div class="form-group">
                            <label for="country_id">Pays(*) :</label>
                            <select name="country_id" id="country_id" required>
                                <option value="" disabled selected>Sélectionner un pays</option>

                                <% country.forEach(oneCountry => { %>
                                    <% if (oneCountry.id === oneCoffee.country_id) { %>
                                        <option value="<%= oneCountry.id %>" selected><%= oneCountry.name %></option> >
                                    <% } else { %>
                                        <option value="<%= oneCountry.id %>"><%= oneCountry.name %></option> >
                                    <% } %>
                                <% }) %>
                            </select>
                        </div>

                        <!-- price -->
                        <div class="form-group">
                            <label for="price">Prix (€) :</label>
                            <input type="number" id = "price" name = "price" placeholder = "Un prix" min="1" max="100" required 
                            value="<%= oneCoffee.price/100 %>" step="0.01">
                        </div>

                        <!-- characteristic_id -->
                        <div class="form-group">
                            <label for="characteristic_id">Charactéristique principale(*) :</label>
                            <select name="characteristic_id" id="characteristic_id" required>
                                <option value="" disabled selected>Sélectionner la caractéristique principale</option>

                                <% characteristics.forEach(oneCharacteristic => { %>
                                                                        
                                    <% if (oneCharacteristic.id === oneCoffee.characteristic_id) { %>
                                        <option value="<%= oneCharacteristic.id %>" selected><%= oneCharacteristic.name %></option> >
                                    <% } else { %>
                                        <option value="<%= oneCharacteristic.id %>"><%= oneCharacteristic.name %></option> >
                                    <% } %>
                                <% }) %>
                            </select>
                        </div>

                        <!-- disponibility -->
                        <div class="form-group">
                            <fieldset class="fieldsetRadioButton">
                                <legend>Disponibilité du café :</legend>
                                <div class="divRadio">
                                    <input type="radio" name="disponibility" id="dispoOui" required value = "true" 
                                    <% if (oneCoffee.disponibility) { %>
                                     checked
                                    <% } %>>
                                    <label for="dispoOui">Oui</label>
                                </div>
                                
                                <div class="divRadio">
                                    <input type="radio" name="disponibility" id="dispoNon" required value = "false" <% if (!oneCoffee.disponibility) { %>
                                        checked
                                       <% } %>>
                                    <label for="dispoNon">Non</label>
                                </div>
                            </fieldset>
                        </div>

                        <!-- description -->
                        <div class="form-group">
                            <label for="description">Description :</label>
                            <textarea name="description" id="description" required><%= oneCoffee.description %></textarea>
                        </div>

                        <!-- photo -->
                        <div class="form-group">
                            <label for="filePhotoCoffee">Photo :</label>
                            <input type="file" name="filePhotoCoffee" id="filePhotoCoffee"/>
                        </div>

                        <button type="submit" class="submit-button">Enregistrer les modifications</button>
                    </form>
                </section>

                <div class ="divReturnButton">
                    <a href="/" class="btn">Retour à l'accueil</a>
                </div>

            </main>
                
            <%- include('../../partials/footer') %>
        </div> <!-- close container -->
    </body>
</html>