
<!DOCTYPE html>
<html lang="fr">
    <head>
        <%- include('../partials/head') %> 

        <title>OCoffee - Liste des produits</title>

         <!-- Style -->
         <link rel="stylesheet" href="/css/catalogue.css">

           <!-- Scripts -->
           <script defer src="/js/catalog.js"></script>
           
    </head>

    <body>
        <!-- Modify class from active link in the menubar -->
        <script> 
            //Defer does not work!
            document.addEventListener('DOMContentLoaded', function() {
                addActiveLinkMenu("#lien-catalogue");
            });
        </script>
        <div id="container">

        <header class="header">
            <%- include('../partials/header') %>
        </header>
        
        <main class="main">
            <section class="presentation">
                <div class="titleWithBackgroundImg">
                    <h2>Notre catalogue </h2>
                    <img src="/images/coffees/958090105.png" alt="Image representation catalogue">
                </div> 
            </section>
    
            <section class="sectionProducts">

                <div class = "product-filter">
                    <h2>Tous nos produits</h2>
                    <select name="categoryFilter" id="categoryFilter">Filtrer par catégorie
                        <option value="" disabled selected>Sélectionner une catégorie</option>
                        <option value="Tous les produits" selected>Tous les produits</option>
                        
                        <% allCharacteristic.forEach(oneCharacteristic => { %>
                            <option value= <%= oneCharacteristic.name %> ><%= oneCharacteristic.name %></option> 
                        <% }) %>
                    </select>
                </div>
                
                <div class="all_products">
                    <% coffees.forEach(coffee => { %>
                        <article class="product">
                            
                            <img src="/images/coffees/<%= coffee.image %>" alt="Image <%= coffee.name %>">
                            
                            <p class="product-title"> <%= coffee.name %></p>
                            <div class = "characteristic"><%= coffee.characteristic %></div> 
                            <a href="/product/<%= coffee.id %>" class="btn">Découvrir</a>
                        </article>
                    <% }) %>

                    <!-- <article class="product">
                        <img src="/images/coffees/100955890.png" alt="product__nameOfProduct1">
                        <p class="product-title"> Espresso</p>
                        <a href="/product/1" class="btn">Découvrir</a>
                    </article>
                    -->
                </div> 

                <div class="divForButtonAllProducts">
                    <a href="/catalogue" class="btn">Voir tout</a>
                </div>

                <BR>
                <div class="divForButtonAllProducts">
                    <a href="/" class="btn">Accueil</a>
                </div>
            </section>
        </main>
               
        <%- include('../partials/footer') %>
    </body>
</html>